<%%= titulo_page_header t('ui.page.<%= plural_table_name %>.title'), t('ui.page.<%= plural_table_name %>.edit') %>

<div class="row">
  <div class="col-md-8">
    <div class="box box-info">
      <div class="box-header with-border">
        <h3 class="box-title"><%%= t('ui.page.<%= plural_table_name %>.form_title_edit') %></h3>
      </div>
      <!-- /.box-header -->
      <!-- form start -->
      <%%= render 'form' %>
    </div>
  </div>
</div>